<div class="row"  xmlns:th="http://www.thymeleaf.org">
    <div class="col-sm-12 col-lg-6 col-xl-5">
        <div class="card-hover-shadow-2x mb-3 card">
            <div class="card-header-tab card-header">
                <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                    <i class="header-icon pe-7s-chat icon-gradient bg-malibu-beach"> </i>Τι είπε
                </div>
                <div class="btn-actions-pane-right text-capitalize actions-icon-btn">
                    <div class="btn-group dropdown">
                        <button type="button" onclick="hideDiv('saysDIV')" aria-haspopup="true"
                                aria-expanded="false" class="btn-icon btn-icon-only btn btn-link">
                            <i class="pe-7s-menu btn-icon-wrapper"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div id="saysDIV">
                <div class="scroll-area-md">
                    <div class="scrollbar-container">
                        <div class="p-2">
                            <ul class="todo-list-wrapper list-group list-group-flush">
                                <li th:each="sEl : ${project.getEmpathyMap().getEmpSay()}"
                                    class="list-group-item">
                                    <div class="todo-indicator bg-success"></div>
                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left mr-2">
                                                <div class="widget-content-wrapper">
                                                    <img class="rounded-circle" alt="" width="30"
                                                         th:src="@{/img/avatars/{img}(img=${sEl.getUser().getProfilePic()})}">
                                                </div>
                                            </div>
                                            <div class="widget-content-left flex2">
                                                <div th:text="${sEl.getDescription()}" class="widget-heading"></div>
                                                <div class="widget-subheading" th:text="${sEl.getCategory().getName()}">
                                                    <i>Extreme User</i>
                                                </div>
                                            </div>
                                            <div class="widget-content-right widget-content-actions">
    <!--                                            <div class="badge badge-warning mr-2" th:text="${}">likes</div>-->
                                                <button class="border-0 btn-transition btn btn-outline-danger"
                                                   th:if="${isManager or userId == sEl.getUser().getId()}"
                                                   data-toggle="modal" th:data-target="${'#modalEmpNote_'+sEl.getId()}">
                                                    <i class="fa fa-trash-alt"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="d-block text-center card-footer">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#addSaysModal">
                        Προσθήκη σημείωσης</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-lg-6 col-xl-5">
        <div class="card-hover-shadow-2x mb-3 card">
            <div class="card-header-tab card-header">
                <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                    <i class="header-icon pe-7s-gleam icon-gradient bg-malibu-beach"> </i>Τι έκανε
                </div>
                <div class="btn-actions-pane-right text-capitalize actions-icon-btn">
                    <div class="btn-group dropdown">
                        <button type="button" onclick="hideDiv('doesDIV')" aria-haspopup="true"
                                aria-expanded="false" class="btn-icon btn-icon-only btn btn-link">
                            <i class="pe-7s-menu btn-icon-wrapper"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div id="doesDIV">
                <div class="scroll-area-md">
                    <div class="scrollbar-container">
                        <div class="p-2">
                            <ul class="todo-list-wrapper list-group list-group-flush">
                                <li th:each="sEl : ${project.getEmpathyMap().getEmpDo()}"
                                    class="list-group-item">
                                    <div class="todo-indicator bg-success"></div>
                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left mr-2">
                                                <div class="widget-content-wrapper">
                                                    <img class="rounded-circle" alt="" width="30"
                                                         th:src="@{/img/avatars/{img}(img=${sEl.getUser().getProfilePic()})}">
                                                </div>
                                            </div>
                                            <div class="widget-content-left flex2">
                                                <div th:text="${sEl.getDescription()}" class="widget-heading"></div>
                                                <div class="widget-subheading" th:text="${sEl.getCategory().getName()}">
                                                    <i>Extreme User</i>
                                                </div>
                                            </div>
                                            <div class="widget-content-right widget-content-actions">
                                                <!--                                            <div class="badge badge-warning mr-2" th:text="${}">likes</div>-->
                                                <button class="border-0 btn-transition btn btn-outline-danger"
                                                   th:if="${isManager or userId == sEl.getUser().getId()}"
                                                   data-toggle="modal" th:data-target="${'#modalEmpNote_'+sEl.getId()}">
                                                    <i class="fa fa-trash-alt"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="d-block text-center card-footer">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#addDoesModal">
                        Προσθήκη σημείωσης</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row"  xmlns:th="http://www.thymeleaf.org">
    <div class="col-sm-12 col-lg-6 col-xl-5">
        <div class="card-hover-shadow-2x mb-3 card">
            <div class="card-header-tab card-header">
                <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                    <i class="header-icon pe-7s-light icon-gradient bg-malibu-beach"> </i>Τι σκέφτηκε
                </div>
                <div class="btn-actions-pane-right text-capitalize actions-icon-btn">
                    <div class="btn-group dropdown">
                        <button type="button" onclick="hideDiv('thinksDIV')" aria-haspopup="true"
                                aria-expanded="false" class="btn-icon btn-icon-only btn btn-link">
                            <i class="pe-7s-menu btn-icon-wrapper"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div id="thinksDIV">
                <div class="scroll-area-md">
                    <div class="scrollbar-container">
                        <div class="p-2">
                            <ul class="todo-list-wrapper list-group list-group-flush">
                                <li th:each="sEl : ${project.getEmpathyMap().getEmpThink()}"
                                    class="list-group-item">
                                    <div class="todo-indicator bg-success"></div>
                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left mr-2">
                                                <div class="widget-content-wrapper">
                                                    <img class="rounded-circle" alt="" width="30"
                                                         th:src="@{/img/avatars/{img}(img=${sEl.getUser().getProfilePic()})}">
                                                </div>
                                            </div>
                                            <div class="widget-content-left flex2">
                                                <div th:text="${sEl.getDescription()}" class="widget-heading"></div>
                                                <div class="widget-subheading" th:text="${sEl.getCategory().getName()}">
                                                    <i>Extreme User</i>
                                                </div>
                                            </div>
                                            <div class="widget-content-right widget-content-actions">
                                                <!--                                            <div class="badge badge-warning mr-2" th:text="${}">likes</div>-->
                                                <button class="border-0 btn-transition btn btn-outline-danger"
                                                   th:if="${isManager or userId == sEl.getUser().getId()}"
                                                   data-toggle="modal" th:data-target="${'#modalEmpNote_'+sEl.getId()}">
                                                    <i class="fa fa-trash-alt"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="d-block text-center card-footer">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#addThinksModal">
                        Προσθήκη σημείωσης</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-lg-6 col-xl-5">
        <div class="card-hover-shadow-2x mb-3 card">
            <div class="card-header-tab card-header">
                <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                    <i class="header-icon pe-7s-smile icon-gradient bg-malibu-beach"> </i>Τι αισθάνθηκε
                </div>
                <div class="btn-actions-pane-right text-capitalize actions-icon-btn">
                    <div class="btn-group dropdown">
                        <button type="button" onclick="hideDiv('feelsDIV')" aria-haspopup="true"
                                aria-expanded="false" class="btn-icon btn-icon-only btn btn-link">
                            <i class="pe-7s-menu btn-icon-wrapper"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div id="feelsDIV">
                <div class="scroll-area-md">
                    <div class="scrollbar-container">
                        <div class="p-2">
                            <ul class="todo-list-wrapper list-group list-group-flush">
                                <li th:each="sEl : ${project.getEmpathyMap().getEmpFeel()}"
                                    class="list-group-item">
                                    <div class="todo-indicator bg-success"></div>
                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left mr-2">
                                                <div class="widget-content-wrapper">
                                                    <img class="rounded-circle" alt="" width="30"
                                                         th:src="@{/img/avatars/{img}(img=${sEl.getUser().getProfilePic()})}">
                                                </div>
                                            </div>
                                            <div class="widget-content-left flex2">
                                                <div th:text="${sEl.getDescription()}" class="widget-heading"></div>
                                                <div class="widget-subheading" th:text="${sEl.getCategory().getName()}">
                                                    <i>Extreme User</i>
                                                </div>
                                            </div>
                                            <div class="widget-content-right widget-content-actions">
                                                <!-- <div class="badge badge-warning mr-2" th:text="${}">likes</div>-->
                                                <button class="border-0 btn-transition btn btn-outline-danger"
                                                   th:if="${isManager or userId == sEl.getUser().getId()}"
                                                   data-toggle="modal" th:data-target="${'#modalEmpNote_'+sEl.getId()}">
                                                    <i class="fa fa-trash-alt"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="d-block text-center card-footer">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#addFeelsModal">
                        Προσθήκη σημείωσης</button>
                </div>
            </div>
        </div>
    </div>
    <!-- modals -->
        <th:block layout:insert="~{fragments/modals/removeEmpathyMapCommentConfirm}"/>
        <th:block layout:insert="~{fragments/modals/addFeelsModal}"/>
        <th:block layout:insert="~{fragments/modals/addThinksModal}"/>
        <th:block layout:insert="~{fragments/modals/addDoesModal}"/>
        <th:block layout:insert="~{fragments/modals/addSaysModal}"/>
    <!-- End confirmation modals -->
    <!--    <script>-->
<!--        $('#addFeelsModal').css("margin-top", $(window).height() / 2 - $('.modal-content').height());-->
<!--        $('#addThinksModal').css("margin-top", $(window).height() / 2 - $('.modal-content').height());-->
<!--        $('#addDoesModal').css("margin-top", $(window).height() / 2 - $('.modal-content').height());-->
<!--        $('#addSaysModal').css("margin-top", $(window).height() / 2 - $('.modal-content').height()/2);-->
<!--    </script>-->
</div>

