<div class="row" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
    <div class="col-md-9">
        <div class="main-card mb-3 card">
            <div class="tabs-lg-alternate card-header">
                <ul class="nav nav-justified">
                    <li class="nav-item">
                        <a data-toggle="tab" href="#emphathyMap" class="active nav-link">
                            <div class="widget-number">Empathy Map</div>
                            <div class="tab-subheading">
                                <span class="pr-2 opactiy-6">
                                    <i class="fa fa-map"></i>
                                </span>
                                Totals
                            </div>
                        </a></li>
                    <li class="nav-item">
                        <a data-toggle="tab" href="#wordCloud" class="nav-link">
                            <div class="widget-number text-danger">Word Cloud</div>
                            <div class="tab-subheading">
                                <span class="pr-2 opactiy-6">
                                    <i class="fa fa-cloud"></i>
                                </span>
                                Automatic generation from collected resources
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane active" id="emphathyMap" role="tabpanel">
                    <th:block layout:insert="~{fragments/components/empathyMap}"/>
                </div>
                <div class="tab-pane" id="wordCloud" role="tabpanel">
<!--                    <div class="card-body">-->
<!--                        <p class="mb-0">It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus-->
<!--                            PageMaker including versions of Lorem Ipsum.</p>-->
<!--                    </div>-->
                    <div class="card-body">
                        <div class="card-title">Word Cloud</div>
                        <div>
                            <img th:src="@{/project/{pid}/wordcloud(pid=${project.getId()})}" id="wordCloudImg"
                                 alt="You have not uploaded any resources that can be used to generate a Word Cloud!">
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
