<div class="mb-3 card" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
    <div class="card-header-tab card-header">
        <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
            <i class="header-icon pe-7s-look icon-gradient bg-amy-crisp"></i>
            Διαπιστώσεις
        </div>
    </div>
    <div class="card-body">
        <div id="example_wrapper" class="dataTables_wrapper dt-bootstrap4">
            <div class="row">
                <div class="col-sm-12">

                <table style="width: 100%;" id="findings" class="table table-hover table-striped table-bordered dataTable dtr-inline" role="grid">
                    <thead>
                    <tr role="row">
                        <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 383.2px;" aria-label="Τίτλος: activate to sort column ascending">Τίτλος</th>
                        <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 383.2px;" aria-label="Περιγραφή: activate to sort column ascending">Περιγραφή</th>
                        <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 92.4px;" aria-label="Χρήστης: activate to sort column ascending">Χρήστης</th>
                        <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 95.4px;" aria-label="Ημερομηνία: activate to sort column ascending">Ημερομηνία</th>
                        <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 70.2px;" aria-label="Ψήφοι: activate to sort column ascending">Ψήφοι</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="finding : ${findings}">
                            <td th:text="${finding.getTitle()}">Τίτλος</td>
                            <td th:text="${finding.getDescription()}">Περιγραφή</td>
                            <td th:text="${finding.getUserFullName()}">Χρήστης</td>
                            <td th:text="${finding.getDateOnly()}">1/1/2020</td>
                            <td class="text-center" style="width: 200px;">
                                <div class="widget-content p-0">
                                    <div class="widget-content-outer">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left pr-2">
                                                <div class="widget-numbers fsize-1 text-danger" th:text="${finding.getLikes()}"></div>
                                            </div>
                                            <div class="widget-content-right w-100">
                                                    <div class="progress-bar-xs progress">
                                                    <div class="progress-bar progress" role="progressbar"
                                                         th:aria-valuenow="${finding.getLikes()}" aria-valuemin="0"
                                                         th:aria-valuemax="${project.getTotalFindingLikes()}"
                                                         th:style="'width:'+100*${finding.getLikes()}/${project.getTotalFindingLikes()}+'%;'">
                                                    </div>
                                                </div>
                                            </div>&nbsp;&nbsp;
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</div>
