<div xmlns:th="http://www.thymeleaf.org">

<div class="text-center mb-3">
    <h5 class="menu-header-title text-capitalize mb-3 fsize-3">Συγκεντρωμένο υλικό</h5>
</div>

<div class="row">
    <div class="col-sm-12 col-lg-6 col-xl-4">
        <div class="mb-3 profile-responsive card">
            <div class="dropdown-menu-header">
                <div class="dropdown-menu-header-inner bg-dark">
                    <div class="menu-header-image opacity-2" style="background-image: url('assets/images/dropdown-header/abstract2.jpg');"></div>
                    <div class="menu-header-content btn-pane-right">
                        <div class="avatar-icon-wrapper mr-3 avatar-icon-xl btn-hover-shine">
                            <div class="avatar-icon rounded">
                                <img src="assets/images/avatars/3.jpg" alt="Τύπος υλικού">
                            </div>
                        </div>
                        <div>
                            <h5 class="menu-header-title">Τίτλος Υλικού</h5>
                            <h6 class="menu-header-subtitle">Περιγραφή Υλικού</h6>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="widget-content pt-1 pl-0 pr-0">
                        <div class="text-center">
                            <h5 class="widget-heading opacity-4 mb-0">Πληροφορίες Υλικού</h5>
                            <h6 class="mt-3 mb-3">
                                <span class="pr-2">
                                    Κατηγορία Extreme User
                                    <!--                                    <b class="text-danger">12</b> new leads,-->
                                </span>
                                <!--                                <span><b class="text-success">$56.24</b> in sales</span>-->
                            </h6>
                            <button class="btn-wide btn-pill btn btn-outline-primary">Download</button>
                        </div>
                    </div>
                </li>
                <li class="p-0 list-group-item">
                    <div class="grid-menu grid-menu-2col">
                        <div class="no-gutters row">
                            <div class="col-sm-6">
                                <button class="btn-icon-vertical btn-square btn-transition br-bl btn btn-outline-link">
                                    <i class="fa fa-file-pdf btn-icon-wrapper btn-icon-lg mb-3"> </i>
                                </button>
                            </div>
                            <div class="col-sm-6">
                                <button class="btn-icon-vertical btn-square btn-transition br-br btn btn-outline-link">
                                    <i class="fa fa-comments btn-icon-wrapper btn-icon-lg mb-3"> </i>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-sm-12 col-lg-6 col-xl-4">
        <div class="mb-3 profile-responsive card">
            <div class="dropdown-menu-header">
                <div class="dropdown-menu-header-inner bg-dark">
                    <div class="menu-header-image opacity-2" style="background-image: url('assets/images/dropdown-header/abstract2.jpg');"></div>
                    <div class="menu-header-content btn-pane-right">
                        <div class="avatar-icon-wrapper mr-3 avatar-icon-xl btn-hover-shine">
                            <div class="avatar-icon rounded">
                                <img src="assets/images/avatars/3.jpg" alt="Τύπος υλικού">
                            </div>
                        </div>
                        <div>
                            <h5 class="menu-header-title">Τίτλος Υλικού</h5>
                            <h6 class="menu-header-subtitle">Περιγραφή Υλικού</h6>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="widget-content pt-1 pl-0 pr-0">
                        <div class="text-center">
                            <h5 class="widget-heading opacity-4 mb-0">Πληροφορίες Υλικού</h5>
                            <h6 class="mt-3 mb-3">
                                <span class="pr-2">
                                    Κατηγορία Extreme User
                                </span>
                            </h6>
                            <button class="btn-wide btn-pill btn btn-outline-primary">Download</button>
                        </div>
                    </div>
                </li>
                <li class="p-0 list-group-item">
                    <div class="grid-menu grid-menu-2col">
                        <div class="no-gutters row">
                            <div class="col-sm-6">
                                <button class="btn-icon-vertical btn-square btn-transition br-bl btn btn-outline-link">
                                    <i class="fa fa-file-video btn-icon-wrapper btn-icon-lg mb-3"> </i>
                                </button>
                            </div>
                            <div class="col-sm-6">
                                <button class="btn-icon-vertical btn-square btn-transition br-br btn btn-outline-link">
                                    <i class="fa fa-comments btn-icon-wrapper btn-icon-lg mb-3"> </i>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>


    <div class="col-sm-12 col-lg-6 col-xl-4">
        <div class="mb-3 profile-responsive card">
            <div class="dropdown-menu-header">
                <div class="dropdown-menu-header-inner bg-dark">
                    <div class="menu-header-image opacity-2" style="background-image: url('assets/images/dropdown-header/abstract2.jpg');"></div>
                    <div class="menu-header-content btn-pane-right">
                        <div class="avatar-icon-wrapper mr-3 avatar-icon-xl btn-hover-shine">
                            <div class="avatar-icon rounded">
                                <img src="assets/images/avatars/3.jpg" alt="Τύπος υλικού">
                            </div>
                        </div>
                        <div>
                            <h5 class="menu-header-title">Τίτλος Υλικού</h5>
                            <h6 class="menu-header-subtitle">Περιγραφή Υλικού</h6>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="widget-content pt-1 pl-0 pr-0">
                        <div class="text-center">
                            <h5 class="widget-heading opacity-4 mb-0">Πληροφορίες Υλικού</h5>
                            <h6 class="mt-3 mb-3">
                                <span class="pr-2">
                                    Κατηγορία Extreme User
<!--                                    <b class="text-danger">12</b> new leads,-->
                                </span>
<!--                                <span><b class="text-success">$56.24</b> in sales</span>-->
                            </h6>
                            <button class="btn-wide btn-pill btn btn-outline-primary">Download</button>
                        </div>
                    </div>
                </li>
                <li class="p-0 list-group-item">
                    <div class="grid-menu grid-menu-2col">
                        <div class="no-gutters row">
                            <div class="col-sm-6">
                                <button class="btn-icon-vertical btn-square btn-transition br-bl btn btn-outline-link">
                                    <i class="fa fa-file-image btn-icon-wrapper btn-icon-lg mb-3"> </i>
                                </button>
                            </div>
                            <div class="col-sm-6">
                                <button class="btn-icon-vertical btn-square btn-transition br-br btn btn-outline-link">
                                    <i class="fa fa-comments btn-icon-wrapper btn-icon-lg mb-3"> </i>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>

</div>
