<div class="col-sm-12 col-lg-6 col-xl-5" xmlns:th="http://www.thymeleaf.org">
    <div class="card-hover-shadow-2x mb-3 card">
        <div class="card-header-tab card-header">
            <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                <i class="header-icon pe-7s-ticket icon-gradient bg-malibu-beach"> </i>Κατηγορίες Ακραίων Χρηστών
            </div>
            <div class="btn-actions-pane-right text-capitalize actions-icon-btn">
                <div class="btn-group dropdown">
                    <button type="button" onclick="hideDiv('extrUsrCatDIV')" aria-haspopup="true"
                            aria-expanded="false" class="btn-icon btn-icon-only btn btn-link">
                        <i class="pe-7s-menu btn-icon-wrapper"></i>
                    </button>
                </div>
            </div>
        </div>
        <div id="extrUsrCatDIV">
            <div class="scroll-area-md">
                <div class="scrollbar-container">
                    <div class="p-2">
                        <ul th:each="cat : ${project.getCategories()}"
                            class="todo-list-wrapper list-group list-group-flush">

                            <li class="list-group-item">
                                <div class="todo-indicator bg-success"></div>
                                <div class="widget-content p-0">
                                    <div class="widget-content-wrapper">
                                        <div class="widget-content-left mr-2">
                                            <div class="widget-content-wrapper">
                                                <img class="rounded-circle" alt="" width="30"
                                                     th:src="@{/img/avatars/category.png}">
                                            </div>
                                        </div>
                                        <div class="widget-content-left flex2">
                                            <div class="widget-heading" th:text="${cat.getName()}">Name</div>
                                            <div class="widget-subheading" th:text="${cat.getDescription()}">Description</div>
                                        </div>

                                        <div class="widget-content-right widget-content-actions">
                                               <button class="border-0 btn-transition btn btn-outline-danger"
                                                    th:if="${isManager}"
                                                    data-toggle="modal"
                                                    th:data-target="${'#modal_'+cat.getId()}">
                                                <i class="fa fa-trash-alt"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="d-block text-center card-footer">
                <button class="btn btn-primary" data-toggle="modal" data-target="#addExtrUsrCatModal">
                    Προσθήκη κατηγορίας Extreme User</button>
            </div>
        </div>
    </div>
</div>
