<!--<div class="row">-->
<div class="col-md-7" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
    <div class="main-card mb-3 card">
        <div class="card-header-tab card-header">
            <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                <i class="header-icon pe-7s-diskette icon-gradient bg-amy-crisp"> </i>
                Συλλογή υλικού
            </div>
            <div class="btn-actions-pane-right text-capitalize actions-icon-btn">
                <div class="btn-group dropdown">
                    <a th:href="@{/project/{pid}/resource/new(pid=${project.getId()})}">
                        <button type="button" title="Προσθήκη Υλικού" class="btn-shadow mr-3 btn btn-alternate">
                            <i class="fa fa-upload"></i>
                        </button>
                    </a>
                </div>
            </div>
        </div>

        <div id="resourcesDIV" class="slider-light">
            <div class="slick-slider slick-dotted">
                <div class="p-5 card-body" th:each="resource : ${project.getFileResources()}">
                <div class="slider-content">
                    <div class="dropdown-menu-header">
                        <div class="dropdown-menu-header-inner bg-dark">
                            <div class="menu-header-image opacity-2"
                                 th:style="|background-image: url(@{/img/dropdown-header/abstract3.jpg});|"></div>
                            <div class="menu-header-content btn-pane-right">
                                <div class="avatar-icon-wrapper mr-3 avatar-icon-xl">
                                    <div class="avatar-icon rounded">
                                        <img th:src="@{/img/ftypes/{img}(img=${resource.getTypeString()})}" alt="FileType">
                                    </div>
                                </div>
                                <div>
                                    <h5 class="menu-header-title" th:text="${resource.getTitle()}">Title</h5>
                                    <h6 class="menu-header-subtitle" th:text="'Extreme User: '+${resource.getExtremeUserCategory().getName()}"></h6>
                                </div>
                                <div class="menu-header-btn-pane">
                                    <a th:href="@{/resource/download/{rid}(rid=${resource.getId()})}">
                                        <button title="Λήψη Υλικού"
                                                class="mb-2 mr-2 btn-icon btn-icon-only btn-shadow btn-outline-2x btn btn-outline-primary">
                                            <i class="lnr-download btn-icon-wrapper"> </i>
                                        </button>
                                    </a>

                                    <button data-toggle="modal" th:data-target="${'#res_modal_'+resource.getId()}"
                                            title="Διαγραφή Υλικού"
                                            class="mb-2 mr-2 btn-icon btn-icon-only btn-shadow btn-outline-2x btn btn-outline-danger">
                                        <i class="lnr-trash btn-icon-wrapper"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="tabs-animated-shadow tabs-animated nav nav-justified tabs-shadow-bordered p-3">
                        <li class="nav-item">
                            <a role="tab" class="nav-link active" th:id="${'#tab-c-description'+resource.getId()}"
                               data-toggle="tab" th:href="${'#tab-description_'+resource.getId()}" aria-selected="true">
                                <span>Περιγραφή</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a role="tab" class="nav-link" th:id="${'#tab-c-comments_'+resource.getId()}"
                               data-toggle="tab" th:href="${'#tab-comments_'+resource.getId()}" aria-selected="false">
                                <span>Σχόλια</span>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" th:aria-labelledby="${'tab-c-description'+resource.getId()}" th:id="${'#tab-description_'+resource.getId()}" role="tabpanel">
                            <div class="scroll-area-sm">
                                <div class="scrollbar-container ps">
                                    <div class="no-results pt-3 pb-0">
                                        <div class="results-title" th:text="${resource.getDescription()}"></div>
                                    </div>
                                    <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></div>
                            </div>
                        </div>
                        <div class="tab-pane" th:aria-labelledby="${'tab-c-comments_'+resource.getId()}"  th:id="${'tab-comments_'+resource.getId()}" role="tabpanel">
                            <div class="scroll-area-sm">
                                <div class="scrollbar-container" th:with="prevUser=${resource.getFirstCommentedUserId()}">
                                    <div th:remove="tag" th:each="com, itemStat : ${resource.getComments()}">
                                        <div class="chat-wrapper">
                                            <div th:classappend="${com.getUserId()!=prevUser} ? 'float-right' : ''">
                                                <div class="chat-box-wrapper" th:classappend="${com.getUserId()!=prevUser} ? 'chat-box-wrapper-right' : ''">
                                                    <div th:with="prevUser=${curUser}">
                                                        <div class="avatar-icon-wrapper mr-1">
                                                            <div class="avatar-icon avatar-icon-sm rounded">
                                                                <img th:src="@{/user/{id}/avatar(id=${com.getUserId()})}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="chat-box" th:text="${com.getDescription()}"></div>
                                                        <small class="opacity-6">
                                                            <i class="fa fa-calendar-alt mr-1" th:text="${com.getDateOnly()}"></i>
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <form class="form-inline" action="#" th:action="@{/resource/{rid}/addComment(rid=${resource.getId()})}" method="post">
                                    <div class="mb-2 mr-sm-2 mb-sm-0 position-relative form-group">
                                        <input name="comment" id="comment" placeholder="Εδώ μπορείτε να γράψετε το σχόλιό σας"
                                               size="40" type="text" class="form-control-sm form-control">
                                    </div>
                                    <button type="submit" class="btn btn-primary">Δημοσίευση</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
