<div xmlns:th="http://www.thymeleaf.org">
    <div th:each="resource : ${project.getFileResources()}">
        <div class="modal fade bd-example-modal-sm" data-backdrop="false"
             tabindex="-1" role="dialog" th:id="${'res_modal_'+resource.getId()}"
             aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">
                            Διαγραφή Υλικού</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Είστε σίγουροι πως θέλετε να διαγράψετε το αρχείο από το project;</p>
                        <p>Μετά τη διαγραφή ενημερώνεται και το WordCloud του project!</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Άκυρο</button>
                        <a th:href="@{/admin/project/{pid}/resource/remove/{rid}(pid=${project.getId()}, rid=${resource.getId()})}">
                            <button type="button" class="btn btn-danger">Διαγραφή</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function hideDiv(divId) {
            let x = document.getElementById(divId);
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>
    <style>
        .modal {
            padding-top: 3%;
        }
    </style>
</div>
