<div class="app-wrapper-footer" xmlns:th="http://www.thymeleaf.org">
    <div class="app-footer">
        <div class="app-footer__inner">
            <div class="app-footer-left">
                <ul class="nav">
                    <li class="nav-item">
                        <a href="https://www.peproe.gr/category/pleropories-28" target="_blank" rel="noopener" class="nav-link">
                            ΕΠΙΧΕΙΡΗΣΙΑΚΟ ΠΡΟΓΡΑΜΜΑ "ΗΠΕΙΡΟΣ" 2014-2020
                        </a>
                    </li>
                </ul>
            </div>
            <div class="app-footer-right">
                <ul class="nav">
                    <li class="nav-item">
                        <a href="https://nosis.gr/" target="_blank" rel="noopener" class="nav-link">
                            ΝΩΣΙΣ
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="http://www.omegatech.gr/" target="_blank" rel="noopener" class="nav-link">
                            ΩMEGA Technology
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.cs.uoi.gr/" target="_blank" rel="noopener" class="nav-link">
<!--                            <div class="badge badge-success mr-1 ml-0">-->
<!--                                <small>NEW</small>-->
<!--                            </div>-->
                            Τμήμα Μηχανικών Ηλεκτρονικών Υπολογιστών και Πληροφορικής
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
