<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:with="http://www.thymeleaf.org/extras/with"
      with:title="'Welcome to the Design Thinking Platform'">
<th:block layout:insert="~{fragments/htmlHead}"/>

<body>

<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>403</h1>
        </div>
        <h2>Oops! Δεν επιτρέπεται η πρόσβαση</h2>
        <p>Λυπουμαστε αλλα δεν επιτρέπεται η πρόσβαση στο resource αυτό</p>
        <a th:href="@{/}">Επιστροφη στην αρχικη σελιδα</a>
    </div>
</div>
</body>
</html>
