<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:with="http://www.thymeleaf.org/extras/with"
      with:title="'Welcome to the Design Thinking Platform'">
<th:block layout:insert="~{fragments/htmlHead}"/>

<body>

<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>500</h1>
        </div>
        <h2>Internal server error</h2>
        <p>Κατι πήγε στραβά, δοκιμαστε ξανα και αν ξανασυμβεί επικοινωνήστε μαζί μας.</p>
        <a th:href="@{/}">Επιστροφη στην αρχικη σελιδα</a>
    </div>
</div>
</body>
</html>
