div.header_logo-inv {
    display:flex;
    align-items:center;
    transition:width;
    height:37px;
    width:200px;
    background:url(assets/images/logo.png);
    margin:0;
    padding:0;
}
.error{
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #d92550;
}

