<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:with="http://www.thymeleaf.org/extras/with"
      layout:decorate="~{layout}"
      with:title="Προφίλ χρήστη">
<th:block layout:fragment="content">

    <div class="app-main__inner">
        <!-- MAIN CONTENT TITLE -->
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-upload icon-gradient bg-mean-fruit">
                        </i>
                    </div>
                    <div>Προσθήκη υλικού Εκπαίδευσης: Αρχείο PDF
                    </div>
                </div>
            </div>
        </div>
        <!-- END OF MAIN CONTENT TITLE -->

        <div class="main-card mb-3 card">
            <div class="card-body">
                <p th:text="${message}" th:if="${message ne null}" class="alert alert-primary"></p>
                <form method="post" th:action="@{/admin/learningMaterial/upload/pdf}" enctype="multipart/form-data">
                    <div class="form-group">
                        <div class="position-relative form-group"><label for="name">Τίτλος</label>
                            <input type="text" name="name" id="name" placeholder="Τίτλος"
                                   class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="file" name="file" class="form-control-file">
                    </div>

                    <div class="form-group">
                        <div class="position-relative form-group"><label for="descr">Περιγραφή</label>
                            <input name="descr" id="descr" placeholder="περιγραφή υλικού"
                                   type="text" class="form-control">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Upload File</button>
                </form>



            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $("#uploadFile" ).click(function() {
                if ("FileReader" in window) {
                    $("#loadTextFile").click();
                } else {
                    alert("Your browser does not support the HTML5 FileReader.");
                }
            });
        });
    </script>
</th:block>
</html>
