<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security5"
      xmlns:with="http://www.thymeleaf.org/extras/with"
      layout:decorate="~{layout}"
      with:title="Project Dashboard">
<th:block layout:fragment="content">
    <th:block th:with='role=${#strings.toLowerCase(#authentication.principal.authorities[0]).replace("role_", "")}'>
    <div class="app-main__inner">
        <!-- MAIN CONTENT TITLE -->
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-albums icon-gradient bg-mean-fruit">
                        </i>
                    </div>
                    <div><span th:text="${project.getName()}"></span>
                        <div class="page-title-subheading"><span th:text="${project.getDescription()}"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END OF MAIN CONTENT TITLE -->
        <div class="row">
            <div class="col-sm-12 col-lg-6 col-xl-5">
                <div class="card-hover-shadow-2x mb-3 card">
                    <div class="card-header-tab card-header">
                        <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                            <i class="header-icon pe-7s-users icon-gradient bg-malibu-beach"> </i>Μέλη Ομάδας
                        </div>
                        <div class="btn-actions-pane-right text-capitalize actions-icon-btn">
                            <div class="btn-group dropdown">
                                <button type="button" onclick="hideDiv('memberDIV')" aria-haspopup="true"
                                        aria-expanded="false" class="btn-icon btn-icon-only btn btn-link">
                                    <i class="pe-7s-menu btn-icon-wrapper"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div id="memberDIV">
                    <div class="scroll-area-md">
                        <div class="scrollbar-container">
                            <div class="p-2">
                                <ul th:each="member : ${project.getMembers()}"
                                    class="todo-list-wrapper list-group list-group-flush">
                                    <li class="list-group-item">
                                        <div class="todo-indicator bg-success"></div>
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left mr-2">
                                                    <div class="widget-content-wrapper">
                                                        <img class="rounded-circle" alt="" width="30"
                                                          th:src="@{/img/avatars/{img}(img=${member.getProfilePic()})}">
                                                    </div>
                                                </div>
                                                <div class="widget-content-left flex2">
                                                    <div th:text="${member.getFullName()}" class="widget-heading">
                                                        Name
                                                    </div>
                                                    <div th:text="${member.getEmail()}" class="widget-subheading">
                                                        email
                                                    </div>
                                                </div>
                                                <div class="widget-content-right widget-content-actions">
                                                    <div th:if="${project.getManager().getId()==member.getId()}"
                                                         class="badge badge-warning mr-2">Manager</div>
                                                    <button class="border-0 btn-transition btn btn-outline-danger"
                                                    th:if="${project.getManager().getId()!=member.getId()
                                                    and isManager == true}"
                                                            data-toggle="modal"
                                                            th:data-target="${'#modal_'+member.getId()}">
                                                        <i class="fa fa-trash-alt"></i>
                                                    </button>

                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div th:if="${isManager == true}" class="d-block text-right card-footer">
                        <button class="btn btn-primary" data-toggle="modal" data-target="#addMemberModal">
                            Προσθήκη Μέλους</button>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-6 col-xl-5">
                <div class="card-hover-shadow-2x mb-3 card">
                    <div class="card-header-tab card-header">
                        <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                            <i class="header-icon pe-7s-date icon-gradient bg-amy-crisp"> </i>
                            Project Timeline
                        </div>
                        <div class="btn-actions-pane-right text-capitalize actions-icon-btn">
                            <div class="btn-group dropdown">
                                <button type="button" onclick="hideDiv('timelineDIV')" aria-haspopup="true"
                                        aria-expanded="false" class="btn-icon btn-icon-only btn btn-link">
                                    <i class="pe-7s-menu btn-icon-wrapper"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div id="timelineDIV">
                    <div class="scroll-area-md">
                        <div class="scrollbar-container">
                            <div class="p-4">
                                <div class="vertical-time-simple vertical-without-time vertical-timeline
                                vertical-timeline--animate vertical-timeline--one-column">
                                    <div class="vertical-timeline-item dot-warning vertical-timeline-element"
                                         th:each="stage : ${project.getStagesList()}">
                                        <div>
                                            <span class="vertical-timeline-element-icon bounce-in"></span>
                                            <div class="vertical-timeline-element-content bounce-in">
                                                <div>
                                                  <span th:text="${stage.getStatus().toString()}">Status</span>
                                                  <span th:text="${stage.getStartDateString()}" class="text-success">PM</span>
                                                  -
                                                  <span th:text="${stage.getEndDateString()}" class="text-warning">PM</span>
                                                  <div th:if="${stage.isLate()}" class="badge badge-danger ml-2">LATE</div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div th:if="${isManager == true}" class="d-block text-center card-footer">
                        <button class="btn btn-primary">Ολοκλήρωση φάσης</button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Add member modal -->
    <div class="modal fade" id="addMemberModal" tabindex="-1" role="dialog" data-backdrop="false"
         aria-labelledby="addMemberModalTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form class="modal-content" th:action="@{/admin/project/{pid}/addMembers(pid=${project.getId()})}"
                  action="#" method="POST">
                <div class="modal-header">
                    <h5 class="modal-title" id="addMemberModalTitle">Προσθήκη νέων μελών</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card-hover-shadow-2x mb-3 card">
                        <div class="scroll-area-md">
                            <div class="scrollbar-container">
                                <div class="p-2">
                                    <ul class="todo-list-wrapper list-group list-group-flush">
                                        <li th:each="member : ${usersNotInProject}" class="list-group-item">
                                            <div class="todo-indicator bg-success"></div>
                                            <div class="widget-content p-0">
                                                <div class="widget-content-wrapper">
                                                    <div class="widget-content-left mr-2">
                                                        <div class="custom-checkbox custom-control">
                                                            <input type="checkbox" name="members"
                                                                   th:id="${'cb'+member.getId()}"
                                                                   th:value="${member.getId()}" class="custom-control-input">
                                                            <label class="custom-control-label" th:for="${'cb'+member.getId()}">&nbsp;</label>
                                                        </div>
                                                    </div>
                                                    <div class="widget-content-left mr-3">
                                                        <div class="widget-content-left">
                                                            <img class="rounded" alt="" width="30"
                                                                 th:src="@{/img/avatars/{img}(img=${member.getProfilePic()})}">
                                                        </div>
                                                    </div>
                                                    <div class="widget-content-left flex2">
                                                        <div th:text="${member.getFullName()}" class="widget-heading">
                                                            Name
                                                        </div>
                                                        <div th:text="${member.getEmail()}" class="widget-subheading">
                                                            email
                                                        </div>
                                                    </div>
<!--                                                    <div class="widget-content-right widget-content-actions">-->
<!--                                                        <div th:if="${project.getManager().getId()==member.getId()}"-->
<!--                                                             class="badge badge-warning mr-2">Manager</div>-->
<!--                                                        <button class="border-0 btn-transition btn btn-outline-danger"-->
<!--                                                                th:if="${project.getManager().getId()!=member.getId()-->
<!--                                                    and isManager == true}"-->
<!--                                                                data-toggle="modal"-->
<!--                                                                th:data-target="${'#modal_'+member.getId()}">-->
<!--                                                            <i class="fa fa-trash-alt"></i>-->
<!--                                                        </button>-->
<!--                                                    </div>-->
                                                </div>
                                            </div>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
    <!-- Delete confirmation modals -->
    <div th:each="member : ${project.getMembers()}">
        <div class="modal fade bd-example-modal-sm" data-backdrop="false"
             tabindex="-1" role="dialog" th:id="${'modal_'+member.getId()}"
             aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" th:id="${'modal_title_'+member.getId()}">
                            Διαγραφή Μέλους</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Είστε σίγουροι πως θέλετε να διαγράψετε το μέλος από την ομάδα εργασίας;</p>
                        <p>Το μέλος θα αφαιρεθεί μόνο από το project αυτό και όχι από την πλατφόρμα.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Άκυρο</button>
                        <a th:href="@{/admin/project/{pid}/member/remove/{id}(pid=${project.getId()}, id=${member.getId()})}">
                            <button type="button" class="btn btn-danger">Διαγραφή</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function hideDiv(divId) {
            var x = document.getElementById(divId);
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>
    <style>
        .modal {
            padding-top: 3%;
        }
    </style>
</th:block>
</html>
