<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security5"
      xmlns:with="http://www.thymeleaf.org/extras/with"
      layout:decorate="~{layout}"
      with:title="Project Dashboard">
<th:block layout:fragment="content">
    <th:block th:with='role=${#strings.toLowerCase(#authentication.principal.authorities[0]).replace("role_", "")}'>
    <div class="app-main__inner">
        <!-- MAIN CONTENT TITLE -->
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-way icon-gradient bg-mean-fruit"></i>
                    </div>
                    <div><span th:text="${project.getName()}"></span>
                        <div class="page-title-subheading"><span th:text="${project.getStatus()}"></span></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END OF MAIN CONTENT TITLE -->
        <div class="row">
            <!-- Member List component -->
            <th:block layout:insert="~{fragments/components/projectMemberList}"/>
            <!-- Extreme User Categories List component -->
            <th:block layout:insert="~{fragments/components/projectExtrUsrCatList}"/>

        </div>
        <div class="row">
            <!-- project timeline component -->
            <th:block layout:insert="~{fragments/components/projectTimeline}"/>
        </div>
    </div>
        <!-- Add member modal -->
        <th:block layout:insert="~{fragments/modals/addMembers}"/>
        <!-- Delete confirmation modals -->
        <th:block layout:insert="~{fragments/modals/removeMemberConfirm}"/>
        <!-- Complete stage confirmation modal -->
        <th:block layout:insert="~{fragments/modals/nextStageConfirm}"/>
        <!-- Add extreme user category modal -->
        <th:block layout:insert="~{fragments/modals/addExtrUsrCategory}"/>
        <!-- Delete confirmation modals -->
        <th:block layout:insert="~{fragments/modals/removeExtrUsrCategoryConfirm}"/>
    </th:block>
</th:block>
</html>
