<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:with="http://www.thymeleaf.org/extras/with"
      layout:decorate="~{layout}"
      with:title="Απόθεση νέου υλικού">
<th:block layout:fragment="content">
    <div class="app-main__inner">
        <!-- MAIN CONTENT TITLE -->
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-cloud-upload  icon-gradient bg-mean-fruit">
                        </i>
                    </div>
                    <div>Νέο υλικό
                        <div class="page-title-subheading">Παρακαλώ συμπληρώστε τα παρακάτω πεδία
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END OF MAIN CONTENT TITLE -->

        <div class="main-card mb-3 card">
            <div class="card-body">
                <form action="#" th:action="@{/project/{pid}/resource/new(pid=${resourceNew.getProject.getId()})}"
                      th:object="${resourceNew}" method="post" enctype="multipart/form-data"
                      class="needs-validation" novalidate>
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="position-relative form-group"><label for="title">Τίτλος</label>
                                <input name="title" id="title" th:field="*{title}" placeholder="Τίτλος"
                                       type="text" class="form-control">
                                <em id="titleError" class="error" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
                                    title ERROR</em>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-3">
                            <div class="position-relative form-group"><label for="type">Τύπος Αρχείου</label>
                                <select class="mb-2 form-control" id="type" name="type"
                                        th:field="*{type}">
                                    <option value="" selected></option>
                                    <option th:each="fileType : ${resourceTypes}"
                                            th:value="${fileType.getId()}"
                                            th:text="${fileType.getType()}">
                                    </option>
                                </select>
                                <em id="typeError" class="error" th:if="${#fields.hasErrors('type')}"
                                    th:errors="*{type}">
                                    file type ERROR</em>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="position-relative form-group"><label for="extremeUserCategory">Κατηγορία extreme user</label>
                                <select class="mb-2 form-control" id="extremeUserCategory" name="extremeUserCategory"
                                        th:field="*{extremeUserCategory}">
                                    <option value="" selected></option>
                                    <option th:each="category : ${resourceNew.getProject().getCategories()}"
                                            th:value="${category.getId()}"
                                            th:text="${category.getName()}">
                                    </option>
                                </select>
                                <em id="categoryError" class="error" th:if="${#fields.hasErrors('extremeUserCategory')}"
                                    th:errors="*{extremeUserCategory}">
                                    extreme User Category ERROR</em>
                            </div>
                        </div>
                    </div>
                    <div class="position-relative form-group">
                        <label for="description">Περιγραφή</label>
                        <textarea name="description" id="description" class="form-control" th:field="*{description}"></textarea>
                        <em id="descriptionError" class="error" th:if="${#fields.hasErrors('description')}"
                            th:errors="*{description}">
                            description ERROR</em>
                    </div>

                    <div class="position-relative form-group">
                        <label for="exampleFile" class="">Επιλογή αρχείου</label>
                        <input name="file" id="exampleFile" type="file" class="form-control-file" th:field="*{file}" >
                        <small class="form-text text-muted"></small>
                    </div>

                    <div class="divider"></div>
                    <div class="clearfix">
                        <button type="submit" id="createFileResource"
                                class="btn-shadow btn-wide btn-hover-shine btn btn-primary">
                            Upload</button>
                        <button type="button" id="cancel"
                                class="btn-shadow btn-wide float-right btn-hover-shine btn btn-secondary">
                            Άκυρο</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('.js-example-basic-single').select2();
        });
    </script>
</th:block>
</html>
